html, body {
  padding: 0px;
  margin: 0px;
  background: #222;
  font-family: 'Raleway', sans-serif;
  color: ##00ff77;
  overflow-x: hidden;
}

#logo {
  margin: 100px;
}

#logo>img {
  width: 40%;
  height: auto;
  border-radius: 3px;
}

.info .center {
  text-align: center;
}

.info iframe {
  margin: 5px;
}

.info .content {
  background: white;
  margin: 5px;
}

.info .padded {
  padding: 10px;
}

.info .round {
  border-radius: 3px;
}

.info .dark {
  border: 1px solid #227888;
  background: #222;
  text-align: center;
}

.info img {
  width: 200px;
  height: auto;
  padding: 5px;
  border-radius: 3px;
}

.info .ui input, textarea {
  background: white;
  border: 1px solid gray;
  padding: 3px;
}

.comment {
  background: #222;
  border-radius: 3px;
  padding: 5px;
  margin: 5px 0px;
}

.comment h6 {
  margin: 2px;
}

#button {
  float: right;
}

#textarea {
  width: 300px;
  height: 190px;
  resize: none;
}

.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}

.footer .counter p {
  display: inline;
}
